.react-datepicker__header {
  background-color: var(--color-bg-50);
  border: none;
}

.dark .react-datepicker__header {
  background-color: var(--color-bg-800);
}

.react-datepicker-time__header {
  color: var(--color-bg-500);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
}

.react-datepicker__month-container,
.react-datepicker__time-container {
  background-color: var(--color-bg-50);
}

.dark .react-datepicker__month-container,
.dark .react-datepicker__time-container {
  background-color: var(--color-bg-800);
}

.react-datepicker {
  border-color: var(--color-bg-200);
  background-color: var(--color-bg-50);
  box-shadow: var(--custom-shadow);
  overflow: hidden;
  border-radius: var(--radius-lg);
  padding: 0.5rem;
  font-size: var(--text-sm) !important;
  font-weight: 500;
}

@media (min-width: 640px) {
  .react-datepicker {
    padding: 1rem;
  }
}

.dark .react-datepicker {
  border-color: var(--color-bg-700);
  background-color: var(--color-bg-800);
}

.react-datepicker__day {
  line-height: auto;
  color: var(--color-bg-500);
  display: inline-flex;
  aspect-ratio: 1 / 1 !important;
  height: auto;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s;
}

.react-datepicker__day:hover {
  background-color: var(--color-bg-300);
}

.dark .react-datepicker__day:hover {
  background-color: color-mix(in srgb, var(--color-bg-700) 50%, transparent);
}

@media (min-width: 640px) {
  .react-datepicker__day {
    width: 3rem;
  }
}

.react-datepicker__day--today {
  background-color: color-mix(
    in srgb,
    var(--color-custom-500) 20%,
    transparent
  );
  color: var(--color-bg-800);
  box-shadow: var(--custom-shadow);
  border-radius: var(--radius-md);
}

.dark .react-datepicker__day--today {
  color: var(--color-bg-200);
}

.react-datepicker__day--today:hover {
  background-color: color-mix(
    in srgb,
    var(--color-custom-500) 50%,
    transparent
  ) !important;
}

.react-datepicker__day-name {
  width: 2.5rem;
  font-weight: 500;
}

@media (min-width: 640px) {
  .react-datepicker__day-name {
    width: 3rem;
  }
}

.theme-dark .react-datepicker__day--selected {
  background-color: var(--color-custom-500) !important;
  color: var(--color-bg-50) !important;
  font-weight: 500;
}

.theme-light .react-datepicker__day--selected {
  background-color: var(--color-custom-500) !important;
  color: var(--color-bg-800) !important;
  font-weight: 500;
}

.react-datepicker__current-month {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--color-bg-200);
}

.dark .react-datepicker__day--keyboard-selected {
  background-color: color-mix(in srgb, var(--color-bg-700) 50%, transparent);
}

.react-datepicker__day--outside-month {
  color: var(--color-bg-300);
}

.dark .react-datepicker__day--outside-month {
  color: var(--color-bg-700);
}

.react-datepicker__time-container {
  border-color: var(--color-bg-200);
  display: none;
}

@media (min-width: 640px) {
  .react-datepicker__time-container {
    display: block;
  }
}

.dark .react-datepicker__time-container {
  border-color: var(--color-bg-700);
}

.react-datepicker__time {
  background: transparent !important;
}

.react-datepicker__time-list-item {
  color: var(--color-bg-500);
  height: auto !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  font-size: var(--text-sm);
  transition: all 0.2s;
}

.react-datepicker__time-list-item:not(
    .react-datepicker__time-list-item--selected
  ):hover {
  background-color: var(--color-bg-100) !important;
}

.dark
  .react-datepicker__time-list-item:not(
    .react-datepicker__time-list-item--selected
  ):hover {
  background-color: color-mix(
    in srgb,
    var(--color-bg-700) 50%,
    transparent
  ) !important;
}

.theme-dark .react-datepicker__time-list-item--selected {
  background-color: var(--color-custom-500) !important;
  color: var(--color-bg-50) !important;
}

.theme-light .react-datepicker__time-list-item--selected {
  background-color: var(--color-custom-500) !important;
  color: var(--color-bg-800) !important;
}

.react-datepicker__time-list-item--selected:hover {
  background-color: var(--color-custom-600) !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}


.react-datepicker-popper {
  z-index: 9999 !important;
}
