.steps .step-primary + .step-primary:before,
.steps .step-primary:after {
  --tw-bg-opacity: 1;
  @apply bg-custom-500;
  --tw-text-opacity: 1;
  @apply text-custom-500;
}
.steps .step-primary + .step-primary:before,
.steps .step-primary:after {
  --tw-bg-opacity: 1;
  @apply bg-custom-500;
  --tw-text-opacity: 1;
  @apply text-custom-500;
}
.steps .step-primary + .step-primary:before,
.steps .step-primary:after {
  --tw-bg-opacity: 1;
  @apply bg-custom-500;
  --tw-text-opacity: 1;
  @apply text-custom-500;
}

.steps .step::after {
  content: counter(step) !important;
}

.\!range {
  --range-shdw: rgb(var(--color-custom-500)) !important;
}

.range {
  --range-bg: none;
}

.range-primary {
  @apply text-custom-500;
  --range-thumb: var(--color-bg-100);
}

.dark .range-primary {
  --range-thumb: var(--color-bg-800);
}
