@import 'tailwindcss';

@import '../../node_modules/react-medium-image-zoom/dist/styles.css';
@import '../../node_modules/react-toastify/dist/ReactToastify.css';
@import '../../node_modules/react-tooltip/dist/react-tooltip.css';
@import '../../node_modules/react-virtualized/styles.css';
@import '../../node_modules/react-datepicker/dist/react-datepicker.css';

@import './themes/index.css';
@import './abbreviations.css';
@import './global.css';
@import './prose.css';
@import './daisyui.css';
@import './utils.css';

@import '../components/controls/DateInput/index.css';
@import '../components/controls/ColorInput/ColorPickerModal/index.css';
