.stroke-\[2px\] > path {
  stroke-width: 2.5px;
}

.loader {
  width: 36px;
  height: 36px;
  border: 4px solid;
  @apply border-bg-500;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[data-rmiz],
[data-rmiz-content] {
  @apply h-full w-full;
}

.__file-input {
  & [data-rmiz],
  & [data-rmiz-content] {
    @apply max-h-96 w-full;
  }

  & [data-rmiz-content] {
    @apply flex-center w-full;
  }
}

div[data-rmiz-modal-overlay] {
  @apply bg-black/80;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-overflow-x > div {
  overflow-x: hidden !important;
}

.tabler-icon {
  @apply size-6 shrink-0;
}

aside .sidebar-item .bg-bg-200\/50 > svg:first-child {
  @apply text-custom-500!;
}

::global {
  --toastify-color-light: var(--color-custom-500);
}

.Toastify__progress-bar--default {
  background: var(--color-bg-500);
  opacity: 1 !important;
}

.Toastify__progress-bar--controlled {
  background: var(--color-custom-500);
  opacity: 1 !important;
}

.Toastify__toast-container {
  @apply w-full sm:w-min sm:min-w-96;
}

.Toastify__toast-container * {
  font-family: inherit !important;
}

.Toastify__toast {
  @apply bg-bg-50 text-bg-800 dark:bg-bg-800 dark:text-bg-50;
}

.sidebar-opening {
  transition:
    left 0.3s ease,
    z-index 0s linear 0s;
}

.sidebar-closing {
  transition:
    left 0.3s ease,
    z-index 0s linear 0.3s;
}
