[submodule "apps/achievements"]
	path = apps/achievements
	url = https://github.com/lifeforge-app/lifeforge-module-achievements.git
[submodule "apps/codeTime"]
	path = apps/codeTime
	url = https://github.com/lifeforge-app/lifeforge-module-codeTime.git
[submodule "apps/passwords"]
	path = apps/passwords
	url = https://github.com/lifeforge-app/lifeforge-module-passwords.git
[submodule "apps/ideaBox"]
	path = apps/ideaBox
	url = https://github.com/lifeforge-app/lifeforge-module-ideaBox.git
[submodule "apps/scoresLibrary"]
	path = apps/scoresLibrary
	url = https://github.com/lifeforge-app/lifeforge-module-scoresLibrary.git
[submodule "apps/sinChewDaily"]
	path = apps/sinChewDaily
	url = https://github.com/lifeforge-app/lifeforge-module-sinChewDaily.git
[submodule "apps/railwayMap"]
	path = apps/railwayMap
	url = https://github.com/lifeforge-app/lifeforge-module-railwayMap.git
[submodule "apps/music"]
	path = apps/music
	url = https://github.com/lifeforge-app/lifeforge-module-music.git
[submodule "apps/calendar"]
	path = apps/calendar
	url = https://github.com/lifeforge-app/lifeforge-module-calendar.git
[submodule "apps/booksLibrary"]
	path = apps/booksLibrary
	url = https://github.com/lifeforge-app/lifeforge-module-booksLibrary.git
[submodule "apps/sudoku"]
	path = apps/sudoku
	url = https://github.com/lifeforge-app/lifeforge-module-sudoku.git
[submodule "apps/currencyConverter"]
	path = apps/currencyConverter
	url = https://github.com/lifeforge-app/lifeforge-module-currencyConverter.git
[submodule "apps/changiAirportFlightStatus"]
	path = apps/changiAirportFlightStatus
	url = https://github.com/lifeforge-app/lifeforge-module-changiAirportFlightStatus.git
[submodule "apps/cfopAlgorithms"]
	path = apps/cfopAlgorithms
	url = https://github.com/lifeforge-app/lifeforge-module-cfopAlgorithms.git
[submodule "apps/movies"]
	path = apps/movies
	url = https://github.com/lifeforge-app/lifeforge-module-movies.git
[submodule "apps/momentVault"]
	path = apps/momentVault
	url = https://github.com/lifeforge-app/lifeforge-module-momentVault.git
[submodule "apps/wallet"]
	path = apps/wallet
	url = https://github.com/lifeforge-app/lifeforge-module-wallet.git
[submodule "apps/todoList"]
	path = apps/todoList
	url = https://github.com/lifeforge-app/lifeforge-module-todoList.git
[submodule "apps/guitarTuner"]
	path = apps/guitarTuner
	url = https://github.com/lifeforge-app/lifeforge-module-guitarTuner.git
