@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import 'tailwindcss';
@import 'lifeforge-ui/dist/index.css';
@source "../../../node_modules/lifeforge-ui/dist";

:root {
  --custom-font-scale: 1;
}

*:not(code *) {
  font-family: 'Albert Sans', sans-serif;
}

.hljs * {
  font-family: 'JetBrains Mono', monospace;
}

.hljs {
  @apply bg-transparent;
}

code {
  font-family: 'JetBrains Mono', monospace !important;
  @apply text-bg-800! dark:text-bg-100! text-sm! break-all! sm:text-base!;
}

pre,
pre * {
  @apply bg-transparent!;
  text-shadow: none !important;
}

article section {
  @apply scroll-mt-24;
}

::marker {
  @apply text-bg-300;
}

.dark ::marker {
  @apply text-bg-700!;
}
