.react-datepicker__header {
  @apply bg-bg-50 dark:bg-bg-800 border-none;
}

.react-datepicker-time__header {
  @apply text-bg-500 py-2 font-medium;
}

.react-datepicker__month-container,
.react-datepicker__time-container {
  @apply bg-bg-50 dark:bg-bg-800;
}

.react-datepicker {
  @apply border-bg-200 bg-bg-50 shadow-custom dark:border-bg-700 dark:bg-bg-800 overflow-hidden rounded-lg p-4 text-sm! font-medium;
}

.react-datepicker__day {
  line-height: auto;
  @apply text-bg-500 hover:bg-bg-300 dark:hover:bg-bg-700/50 inline-flex aspect-square! h-auto w-12 items-center justify-center text-center transition-all;
}

.react-datepicker__day--today {
  @apply bg-custom-500/20 text-bg-800 shadow-custom dark:text-bg-200 hover:bg-custom-500/50! rounded-md;
}

.react-datepicker__day-name {
  @apply w-12 font-medium;
}

.theme-dark .react-datepicker__day--selected {
  @apply bg-custom-500! text-bg-50! font-medium;
}

.theme-light .react-datepicker__day--selected {
  @apply bg-custom-500! text-bg-800! font-medium;
}

.react-datepicker__current-month {
  @apply py-4!;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-bg-200 dark:bg-bg-700/50;
}

.react-datepicker__day--outside-month {
  @apply text-bg-300 dark:text-bg-700;
}

.react-datepicker__time-container {
  @apply border-bg-200 dark:border-bg-700;
}

.react-datepicker__time {
  background: transparent !important;
}

.react-datepicker__time-list-item {
  @apply text-bg-500 h-auto! py-3! text-sm transition-all;
}

.react-datepicker__time-list-item:not(
  .react-datepicker__time-list-item--selected
) {
  @apply hover:bg-bg-100! dark:hover:bg-bg-700/50!;
}

.theme-dark .react-datepicker__time-list-item--selected {
  @apply bg-custom-500! text-bg-50!;
}

.theme-light .react-datepicker__time-list-item--selected {
  @apply bg-custom-500! text-bg-800!;
}

.react-datepicker__time-list-item--selected:hover {
  @apply bg-custom-600!;
}

.react-datepicker-wrapper {
  @apply w-full!;
}
