.stroke-\[2px\] > path {
  stroke-width: 2.5px;
}

.loader {
  width: 36px;
  height: 36px;
  border: 4px solid;
  border-color: var(--color-bg-500);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[data-rmiz],
[data-rmiz-content] {
  height: 100%;
  width: 100%;
}

.__file-input {
  & [data-rmiz],
  & [data-rmiz-content] {
    max-height: 24rem;
    width: 100%;
  }

  & [data-rmiz-content] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

div[data-rmiz-modal-overlay] {
  background-color: rgb(0 0 0 / 0.8);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-overflow-x > div {
  overflow-x: hidden !important;
}

.tabler-icon {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
}

aside .sidebar-item .bg-bg-200\/50 > svg:first-child {
  color: var(--color-custom-500) !important;
}

::global {
  --toastify-color-light: var(--color-custom-500);
}

.Toastify__progress-bar--default {
  background: var(--color-bg-500);
  opacity: 1 !important;
}

.Toastify__progress-bar--controlled {
  background: var(--color-custom-500);
  opacity: 1 !important;
}

.Toastify__toast-container {
  width: 100% !important;
  padding: 1rem;
}

@media (min-width: 640px) {
  .Toastify__toast-container {
    max-width: 32rem;
  }
}

@media (min-width: 768px) {
  .Toastify__toast-container {
    max-width: 32rem;
  }
}

@media (min-width: 1024px) {
  .Toastify__toast-container {
    max-width: 36rem;
  }
}

@media (min-width: 1280px) {
  .Toastify__toast-container {
    max-width: 42rem;
  }
}

.Toastify__toast-container * {
  font-family: inherit !important;
}

.Toastify__toast {
  background-color: var(--color-bg-50);
  color: var(--color-bg-800);
  width: 100% !important;
}

.dark .Toastify__toast {
  background-color: var(--color-bg-800);
  color: var(--color-bg-50);
}

.sidebar-opening {
  transition:
    left 0.3s ease,
    z-index 0s linear 0s;
}

.sidebar-closing {
  transition:
    left 0.3s ease,
    z-index 0s linear 0.3s;
}
