@utility component-bg {
  @apply bg-bg-50 dark:bg-bg-900;

  .has-bg-image & {
    @apply bg-bg-50/50 dark:bg-bg-900/50 backdrop-blur-xs;
  }
}

@utility component-bg-with-hover {
  @apply bg-bg-50 dark:bg-bg-900 hover:bg-bg-100 dark:hover:bg-bg-800/70 transition-all;

  .has-bg-image & {
    @apply bg-bg-50/50 dark:bg-bg-900/50 hover:bg-bg-100/50 dark:hover:bg-bg-800/50 backdrop-blur-xs transition-all;
  }
}

@utility component-bg-lighter {
  @apply bg-bg-100 dark:bg-bg-800/50;

  .has-bg-image & {
    @apply bg-bg-100 dark:bg-bg-800/50;
  }
}

@utility component-bg-lighter-with-hover {
  @apply bg-bg-100 dark:bg-bg-800/50 hover:bg-bg-200/50 dark:hover:bg-bg-800/80 transition-all;

  .has-bg-image & {
    @apply bg-bg-100 dark:bg-bg-800/50 hover:bg-bg-200/50 dark:hover:bg-bg-700/50 transition-all;
  }
}

@utility -component-bg-with-hover {
  @apply bg-bg-200 dark:bg-bg-800/50 hover:bg-bg-200 dark:hover:bg-bg-800/80 transition-all;

  .has-bg-image & {
    @apply bg-bg-50/50 dark:bg-bg-800/50 hover:bg-bg-200/50 dark:hover:bg-bg-700/50 backdrop-blur-xs transition-all;
  }
}
