@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import 'tailwindcss';

@import 'react-datepicker/dist/react-datepicker.css';
@import '../src/styles/index.css';

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-custom: 4px 4px 10px 0px rgba(0, 0, 0, 0.05);

  --color-custom-50: rgb(var(--color-custom-50));
  --color-custom-100: rgb(var(--color-custom-100));
  --color-custom-200: rgb(var(--color-custom-200));
  --color-custom-300: rgb(var(--color-custom-300));
  --color-custom-400: rgb(var(--color-custom-400));
  --color-custom-500: rgb(var(--color-custom-500));
  --color-custom-600: rgb(var(--color-custom-600));
  --color-custom-700: rgb(var(--color-custom-700));
  --color-custom-800: rgb(var(--color-custom-800));
  --color-custom-900: rgb(var(--color-custom-900));

  --color-bg-50: rgb(var(--color-bg-50)) !important;
  --color-bg-100: rgb(var(--color-bg-100)) !important;
  --color-bg-200: rgb(var(--color-bg-200)) !important;
  --color-bg-300: rgb(var(--color-bg-300)) !important;
  --color-bg-400: rgb(var(--color-bg-400)) !important;
  --color-bg-500: rgb(var(--color-bg-500)) !important;
  --color-bg-600: rgb(var(--color-bg-600)) !important;
  --color-bg-700: rgb(var(--color-bg-700)) !important;
  --color-bg-800: rgb(var(--color-bg-800)) !important;
  --color-bg-900: rgb(var(--color-bg-900)) !important;
  --color-bg-950: rgb(var(--color-bg-950)) !important;

  --animate-dialog-overlay-in: fadeIn;
  --animate-dialog-overlay-out: fadeOut;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

* {
  font-family: 'Wix Madefor Text', sans-serif;
}

*:focus {
  outline: none;
}

.theme-blue {
  --color-custom-50: rgb(227 242 253);
  --color-custom-100: rgb(187 222 251);
  --color-custom-200: rgb(144 202 249);
  --color-custom-300: rgb(100 181 246);
  --color-custom-400: rgb(66 165 245);
  --color-custom-500: rgb(33 150 243);
  --color-custom-600: rgb(30 136 229);
  --color-custom-700: rgb(25 118 210);
  --color-custom-800: rgb(21 101 192);
  --color-custom-900: rgb(13 71 161);
}

.bg-zinc {
  --color-bg-50: rgb(250 250 250);
  --color-bg-100: rgb(244 244 245);
  --color-bg-200: rgb(228 228 231);
  --color-bg-300: rgb(212 212 216);
  --color-bg-400: rgb(161 161 170);
  --color-bg-500: rgb(113 113 122);
  --color-bg-600: rgb(82 82 91);
  --color-bg-700: rgb(63 63 70);
  --color-bg-800: rgb(39 39 42);
  --color-bg-900: rgb(24 24 27);
  --color-bg-950: rgb(9 9 11);
}

.sb-show-main {
  @apply p-0!;
}

.loader {
  width: 36px;
  height: 36px;
  border: 4px solid;
  @apply border-bg-500;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.w-color-editable-input {
  @apply px-0!;
}

.w-color-editable-input input {
  box-shadow: none !important;
  font-size: 1rem !important;
  color: rgb(244 244 245) !important;
  font-weight: 500 !important;
  letter-spacing: 0.1rem !important;
  @apply rounded-lg! py-2! focus:outline-hidden text-center;
}

.w-color-editable-input span {
  font-size: 0.9rem !important;
}

.icon-input-icon > span {
  @apply border-bg-300 dark:border-bg-700 block size-4 rounded-full border border-dashed;
}

aside .sidebar-item svg {
  @apply text-custom-500!;
}
