.theme-red {
  --color-custom-50: rgb(255 235 238);
  --color-custom-100: rgb(255 205 210);
  --color-custom-200: rgb(239 154 154);
  --color-custom-300: rgb(229 115 115);
  --color-custom-400: rgb(239 83 80);
  --color-custom-500: rgb(244 67 54);
  --color-custom-600: rgb(229 57 53);
  --color-custom-700: rgb(211 47 47);
  --color-custom-800: rgb(198 40 40);
  --color-custom-900: rgb(183 28 28);
}

.theme-pink {
  --color-custom-50: rgb(252 228 236);
  --color-custom-100: rgb(248 187 208);
  --color-custom-200: rgb(244 143 177);
  --color-custom-300: rgb(240 98 146);
  --color-custom-400: rgb(236 64 122);
  --color-custom-500: rgb(233 30 99);
  --color-custom-600: rgb(216 27 96);
  --color-custom-700: rgb(194 24 91);
  --color-custom-800: rgb(173 20 87);
  --color-custom-900: rgb(136 14 79);
}

.theme-purple {
  --color-custom-50: rgb(243 229 245);
  --color-custom-100: rgb(225 190 231);
  --color-custom-200: rgb(206 147 216);
  --color-custom-300: rgb(186 104 200);
  --color-custom-400: rgb(171 71 188);
  --color-custom-500: rgb(156 39 176);
  --color-custom-600: rgb(142 36 170);
  --color-custom-700: rgb(123 31 162);
  --color-custom-800: rgb(106 27 154);
  --color-custom-900: rgb(74 20 140);
}

.theme-deep-purple {
  --color-custom-50: rgb(237 231 246);
  --color-custom-100: rgb(209 196 233);
  --color-custom-200: rgb(179 157 219);
  --color-custom-300: rgb(149 117 205);
  --color-custom-400: rgb(126 87 194);
  --color-custom-500: rgb(103 58 183);
  --color-custom-600: rgb(94 53 177);
  --color-custom-700: rgb(81 45 168);
  --color-custom-800: rgb(69 39 160);
  --color-custom-900: rgb(49 27 146);
}

.theme-indigo {
  --color-custom-50: rgb(232 234 246);
  --color-custom-100: rgb(197 202 233);
  --color-custom-200: rgb(159 168 218);
  --color-custom-300: rgb(121 134 203);
  --color-custom-400: rgb(92 107 192);
  --color-custom-500: rgb(63 81 181);
  --color-custom-600: rgb(57 73 171);
  --color-custom-700: rgb(48 63 159);
  --color-custom-800: rgb(40 53 147);
  --color-custom-900: rgb(26 35 126);
}

.theme-blue {
  --color-custom-50: rgb(227 242 253);
  --color-custom-100: rgb(187 222 251);
  --color-custom-200: rgb(144 202 249);
  --color-custom-300: rgb(100 181 246);
  --color-custom-400: rgb(66 165 245);
  --color-custom-500: rgb(33 150 243);
  --color-custom-600: rgb(30 136 229);
  --color-custom-700: rgb(25 118 210);
  --color-custom-800: rgb(21 101 192);
  --color-custom-900: rgb(13 71 161);
}

.theme-light-blue {
  --color-custom-50: rgb(225 245 254);
  --color-custom-100: rgb(179 229 252);
  --color-custom-200: rgb(129 212 250);
  --color-custom-300: rgb(79 195 247);
  --color-custom-400: rgb(41 182 246);
  --color-custom-500: rgb(3 169 244);
  --color-custom-600: rgb(3 155 229);
  --color-custom-700: rgb(2 136 209);
  --color-custom-800: rgb(2 119 189);
  --color-custom-900: rgb(1 87 155);
}

.theme-cyan {
  --color-custom-50: rgb(224 247 250);
  --color-custom-100: rgb(178 235 242);
  --color-custom-200: rgb(128 222 234);
  --color-custom-300: rgb(77 208 225);
  --color-custom-400: rgb(38 198 218);
  --color-custom-500: rgb(0 188 212);
  --color-custom-600: rgb(0 172 193);
  --color-custom-700: rgb(0 151 167);
  --color-custom-800: rgb(0 131 143);
  --color-custom-900: rgb(0 96 100);
}

.theme-teal {
  --color-custom-50: rgb(224 242 241);
  --color-custom-100: rgb(178 223 219);
  --color-custom-200: rgb(128 203 196);
  --color-custom-300: rgb(77 182 172);
  --color-custom-400: rgb(38 166 154);
  --color-custom-500: rgb(0 150 136);
  --color-custom-600: rgb(0 137 123);
  --color-custom-700: rgb(0 121 107);
  --color-custom-800: rgb(0 105 92);
  --color-custom-900: rgb(0 77 64);
}

.theme-green {
  --color-custom-50: rgb(232 245 233);
  --color-custom-100: rgb(200 230 201);
  --color-custom-200: rgb(165 214 167);
  --color-custom-300: rgb(129 199 132);
  --color-custom-400: rgb(102 187 106);
  --color-custom-500: rgb(76 175 80);
  --color-custom-600: rgb(67 160 71);
  --color-custom-700: rgb(56 142 60);
  --color-custom-800: rgb(46 125 50);
  --color-custom-900: rgb(27 94 32);
}

.theme-light-green {
  --color-custom-50: rgb(241 248 233);
  --color-custom-100: rgb(220 237 200);
  --color-custom-200: rgb(197 225 165);
  --color-custom-300: rgb(174 213 129);
  --color-custom-400: rgb(156 204 101);
  --color-custom-500: rgb(139 195 74);
  --color-custom-600: rgb(124 179 66);
  --color-custom-700: rgb(104 159 56);
  --color-custom-800: rgb(85 139 47);
  --color-custom-900: rgb(51 105 30);
}

.theme-lime {
  --color-custom-50: rgb(249 251 231);
  --color-custom-100: rgb(240 244 195);
  --color-custom-200: rgb(230 238 156);
  --color-custom-300: rgb(220 231 117);
  --color-custom-400: rgb(212 225 87);
  --color-custom-500: rgb(205 220 57);
  --color-custom-600: rgb(192 202 51);
  --color-custom-700: rgb(175 180 43);
  --color-custom-800: rgb(158 157 36);
  --color-custom-900: rgb(130 119 23);
}

.theme-yellow {
  --color-custom-50: rgb(255 253 231);
  --color-custom-100: rgb(255 249 196);
  --color-custom-200: rgb(255 245 157);
  --color-custom-300: rgb(255 241 118);
  --color-custom-400: rgb(255 238 88);
  --color-custom-500: rgb(255 235 59);
  --color-custom-600: rgb(253 216 53);
  --color-custom-700: rgb(251 192 45);
  --color-custom-800: rgb(249 168 37);
  --color-custom-900: rgb(245 127 23);
}

.theme-amber {
  --color-custom-50: rgb(255 248 225);
  --color-custom-100: rgb(255 236 179);
  --color-custom-200: rgb(255 224 130);
  --color-custom-300: rgb(255 213 79);
  --color-custom-400: rgb(255 202 40);
  --color-custom-500: rgb(255 193 7);
  --color-custom-600: rgb(255 179 0);
  --color-custom-700: rgb(255 160 0);
  --color-custom-800: rgb(255 143 0);
  --color-custom-900: rgb(255 111 0);
}

.theme-orange {
  --color-custom-50: rgb(255 243 224);
  --color-custom-100: rgb(255 224 178);
  --color-custom-200: rgb(255 204 128);
  --color-custom-300: rgb(255 183 77);
  --color-custom-400: rgb(255 167 38);
  --color-custom-500: rgb(255 152 0);
  --color-custom-600: rgb(251 140 0);
  --color-custom-700: rgb(245 124 0);
  --color-custom-800: rgb(239 108 0);
  --color-custom-900: rgb(230 81 0);
}

.theme-deep-orange {
  --color-custom-50: rgb(251 233 231);
  --color-custom-100: rgb(255 204 188);
  --color-custom-200: rgb(255 171 145);
  --color-custom-300: rgb(255 138 101);
  --color-custom-400: rgb(255 112 67);
  --color-custom-500: rgb(255 87 34);
  --color-custom-600: rgb(244 81 30);
  --color-custom-700: rgb(230 74 25);
  --color-custom-800: rgb(216 67 21);
  --color-custom-900: rgb(191 54 12);
}

.theme-brown {
  --color-custom-50: rgb(239 235 233);
  --color-custom-100: rgb(215 204 200);
  --color-custom-200: rgb(188 170 164);
  --color-custom-300: rgb(161 136 127);
  --color-custom-400: rgb(141 110 99);
  --color-custom-500: rgb(121 85 72);
  --color-custom-600: rgb(109 76 65);
  --color-custom-700: rgb(93 64 55);
  --color-custom-800: rgb(78 52 46);
  --color-custom-900: rgb(62 39 35);
}

.theme-grey {
  --color-custom-50: rgb(250 250 250);
  --color-custom-100: rgb(245 245 245);
  --color-custom-200: rgb(238 238 238);
  --color-custom-300: rgb(224 224 224);
  --color-custom-400: rgb(189 189 189);
  --color-custom-500: rgb(158 158 158);
  --color-custom-600: rgb(117 117 117);
  --color-custom-700: rgb(97 97 97);
  --color-custom-800: rgb(66 66 66);
  --color-custom-900: rgb(33 33 33);
}
