@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600&family=Outfit:wght@100..900&family=Urbanist:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Wix Madefor Text', 'MiSans', sans-serif;
  scrollbar-color: rgba(64, 64, 64, 0.5) rgba(38, 38, 38, 0.5);
  scrollbar-width: thin;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  @apply select-none;
}

*:focus {
  outline: none;
}

.stroke-\[2px\] > path {
  stroke-width: 2.5px;
}

.loader {
  width: 36px;
  height: 36px;
  border: 4px solid rgb(115 115 115);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.small-loader-light {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(245 245 245);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.small-loader-dark {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(38 38 38);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.w-color-editable-input {
  @apply !px-0;
}

.w-color-editable-input input {
  box-shadow: none !important;
  font-size: 1rem !important;
  color: rgb(244 244 245) !important;
  font-weight: 500 !important;
  letter-spacing: 0.1rem !important;
  @apply text-center !rounded-lg !py-2 focus:outline-none;
}

.w-color-editable-input span {
  font-size: 0.9rem !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[data-rmiz],
[data-rmiz-content] {
  @apply w-full h-full;
}

div[data-rmiz-modal-overlay] {
  @apply bg-black/80;
}

progress::-webkit-progress-value {
  @apply !bg-custom-500;
}

progress::-moz-progress-bar {
  @apply !bg-custom-500;
}

.cm-editor * {
  font-family: 'Jetbrains Mono', monospace !important;
}

.cm-editor {
  @apply !bg-bg-200/50;
}

.dark .cm-editor {
  @apply !bg-bg-800;
}

.cm-gutters {
  @apply !bg-bg-200;
}

.dark .cm-gutters {
  @apply !bg-bg-800;
}

.theme-red {
  --color-custom-50: 255 235 238;
  --color-custom-100: 255 205 210;
  --color-custom-200: 239 154 154;
  --color-custom-300: 229 115 115;
  --color-custom-400: 239 83 80;
  --color-custom-500: 244 67 54;
  --color-custom-600: 229 57 53;
  --color-custom-700: 211 47 47;
  --color-custom-800: 198 40 40;
  --color-custom-900: 183 28 28;
}

.theme-pink {
  --color-custom-50: 252 228 236;
  --color-custom-100: 248 187 208;
  --color-custom-200: 244 143 177;
  --color-custom-300: 240 98 146;
  --color-custom-400: 236 64 122;
  --color-custom-500: 233 30 99;
  --color-custom-600: 216 27 96;
  --color-custom-700: 194 24 91;
  --color-custom-800: 173 20 87;
  --color-custom-900: 136 14 79;
}

.theme-purple {
  --color-custom-50: 243 229 245;
  --color-custom-100: 225 190 231;
  --color-custom-200: 206 147 216;
  --color-custom-300: 186 104 200;
  --color-custom-400: 171 71 188;
  --color-custom-500: 156 39 176;
  --color-custom-600: 142 36 170;
  --color-custom-700: 123 31 162;
  --color-custom-800: 106 27 154;
  --color-custom-900: 74 20 140;
}

.theme-deep-purple {
  --color-custom-50: 237 231 246;
  --color-custom-100: 209 196 233;
  --color-custom-200: 179 157 219;
  --color-custom-300: 149 117 205;
  --color-custom-400: 126 87 194;
  --color-custom-500: 103 58 183;
  --color-custom-600: 94 53 177;
  --color-custom-700: 81 45 168;
  --color-custom-800: 69 39 160;
  --color-custom-900: 49 27 146;
}

.theme-indigo {
  --color-custom-50: 232 234 246;
  --color-custom-100: 197 202 233;
  --color-custom-200: 159 168 218;
  --color-custom-300: 121 134 203;
  --color-custom-400: 92 107 192;
  --color-custom-500: 63 81 181;
  --color-custom-600: 57 73 171;
  --color-custom-700: 48 63 159;
  --color-custom-800: 40 53 147;
  --color-custom-900: 26 35 126;
}

.theme-blue {
  --color-custom-50: 227 242 253;
  --color-custom-100: 187 222 251;
  --color-custom-200: 144 202 249;
  --color-custom-300: 100 181 246;
  --color-custom-400: 66 165 245;
  --color-custom-500: 33 150 243;
  --color-custom-600: 30 136 229;
  --color-custom-700: 25 118 210;
  --color-custom-800: 21 101 192;
  --color-custom-900: 13 71 161;
}

.theme-light-blue {
  --color-custom-50: 225 245 254;
  --color-custom-100: 179 229 252;
  --color-custom-200: 129 212 250;
  --color-custom-300: 79 195 247;
  --color-custom-400: 41 182 246;
  --color-custom-500: 3 169 244;
  --color-custom-600: 3 155 229;
  --color-custom-700: 2 136 209;
  --color-custom-800: 2 119 189;
  --color-custom-900: 1 87 155;
}

.theme-cyan {
  --color-custom-50: 224 247 250;
  --color-custom-100: 178 235 242;
  --color-custom-200: 128 222 234;
  --color-custom-300: 77 208 225;
  --color-custom-400: 38 198 218;
  --color-custom-500: 0 188 212;
  --color-custom-600: 0 172 193;
  --color-custom-700: 0 151 167;
  --color-custom-800: 0 131 143;
  --color-custom-900: 0 96 100;
}

.theme-teal {
  --color-custom-50: 224 242 241;
  --color-custom-100: 178 223 219;
  --color-custom-200: 128 203 196;
  --color-custom-300: 77 182 172;
  --color-custom-400: 38 166 154;
  --color-custom-500: 0 150 136;
  --color-custom-600: 0 137 123;
  --color-custom-700: 0 121 107;
  --color-custom-800: 0 105 92;
  --color-custom-900: 0 77 64;
}

.theme-green {
  --color-custom-50: 232 245 233;
  --color-custom-100: 200 230 201;
  --color-custom-200: 165 214 167;
  --color-custom-300: 129 199 132;
  --color-custom-400: 102 187 106;
  --color-custom-500: 76 175 80;
  --color-custom-600: 67 160 71;
  --color-custom-700: 56 142 60;
  --color-custom-800: 46 125 50;
  --color-custom-900: 27 94 32;
}

.theme-light-green {
  --color-custom-50: 241 248 233;
  --color-custom-100: 220 237 200;
  --color-custom-200: 197 225 165;
  --color-custom-300: 174 213 129;
  --color-custom-400: 156 204 101;
  --color-custom-500: 139 195 74;
  --color-custom-600: 124 179 66;
  --color-custom-700: 104 159 56;
  --color-custom-800: 85 139 47;
  --color-custom-900: 51 105 30;
}

.theme-lime {
  --color-custom-50: 249 251 231;
  --color-custom-100: 240 244 195;
  --color-custom-200: 230 238 156;
  --color-custom-300: 220 231 117;
  --color-custom-400: 212 225 87;
  --color-custom-500: 205 220 57;
  --color-custom-600: 192 202 51;
  --color-custom-700: 175 180 43;
  --color-custom-800: 158 157 36;
  --color-custom-900: 130 119 23;
}

.theme-yellow {
  --color-custom-50: 255 253 231;
  --color-custom-100: 255 249 196;
  --color-custom-200: 255 245 157;
  --color-custom-300: 255 241 118;
  --color-custom-400: 255 238 88;
  --color-custom-500: 255 235 59;
  --color-custom-600: 253 216 53;
  --color-custom-700: 251 192 45;
  --color-custom-800: 249 168 37;
  --color-custom-900: 245 127 23;
}

.theme-amber {
  --color-custom-50: 255 248 225;
  --color-custom-100: 255 236 179;
  --color-custom-200: 255 224 130;
  --color-custom-300: 255 213 79;
  --color-custom-400: 255 202 40;
  --color-custom-500: 255 193 7;
  --color-custom-600: 255 179 0;
  --color-custom-700: 255 160 0;
  --color-custom-800: 255 143 0;
  --color-custom-900: 255 111 0;
}

.theme-orange {
  --color-custom-50: 255 243 224;
  --color-custom-100: 255 224 178;
  --color-custom-200: 255 204 128;
  --color-custom-300: 255 183 77;
  --color-custom-400: 255 167 38;
  --color-custom-500: 255 152 0;
  --color-custom-600: 251 140 0;
  --color-custom-700: 245 124 0;
  --color-custom-800: 239 108 0;
  --color-custom-900: 230 81 0;
}

.theme-deep-orange {
  --color-custom-50: 251 233 231;
  --color-custom-100: 255 204 188;
  --color-custom-200: 255 171 145;
  --color-custom-300: 255 138 101;
  --color-custom-400: 255 112 67;
  --color-custom-500: 255 87 34;
  --color-custom-600: 244 81 30;
  --color-custom-700: 230 74 25;
  --color-custom-800: 216 67 21;
  --color-custom-900: 191 54 12;
}

.theme-brown {
  --color-custom-50: 239 235 233;
  --color-custom-100: 215 204 200;
  --color-custom-200: 188 170 164;
  --color-custom-300: 161 136 127;
  --color-custom-400: 141 110 99;
  --color-custom-500: 121 85 72;
  --color-custom-600: 109 76 65;
  --color-custom-700: 93 64 55;
  --color-custom-800: 78 52 46;
  --color-custom-900: 62 39 35;
}

.theme-grey {
  --color-custom-50: 250 250 250;
  --color-custom-100: 245 245 245;
  --color-custom-200: 238 238 238;
  --color-custom-300: 224 224 224;
  --color-custom-400: 189 189 189;
  --color-custom-500: 158 158 158;
  --color-custom-600: 117 117 117;
  --color-custom-700: 97 97 97;
  --color-custom-800: 66 66 66;
  --color-custom-900: 33 33 33;
}

.bg-slate {
  --color-bg-50: 248 250 252;
  --color-bg-100: 241 245 249;
  --color-bg-200: 226 232 240;
  --color-bg-300: 203 213 225;
  --color-bg-400: 148 163 184;
  --color-bg-500: 100 116 139;
  --color-bg-600: 71 85 105;
  --color-bg-700: 51 65 85;
  --color-bg-800: 30 41 59;
  --color-bg-900: 15 23 42;
  --color-bg-950: 2 6 23;
}

.bg-gray {
  --color-bg-50: 249 250 251;
  --color-bg-100: 243 244 246;
  --color-bg-200: 229 231 235;
  --color-bg-300: 209 213 219;
  --color-bg-400: 156 163 175;
  --color-bg-500: 107 114 128;
  --color-bg-600: 75 85 99;
  --color-bg-700: 55 65 81;
  --color-bg-800: 31 41 55;
  --color-bg-900: 17 24 39;
  --color-bg-950: 3 7 18;
}

.bg-zinc {
  --color-bg-50: 250 250 250;
  --color-bg-100: 244 244 245;
  --color-bg-200: 228 228 231;
  --color-bg-300: 212 212 216;
  --color-bg-400: 161 161 170;
  --color-bg-500: 113 113 122;
  --color-bg-600: 82 82 91;
  --color-bg-700: 63 63 70;
  --color-bg-800: 39 39 42;
  --color-bg-900: 24 24 27;
  --color-bg-950: 9 9 11;
}

.bg-neutral {
  --color-bg-50: 250 250 250;
  --color-bg-100: 245 245 245;
  --color-bg-200: 229 229 229;
  --color-bg-300: 212 212 212;
  --color-bg-400: 163 163 163;
  --color-bg-500: 115 115 115;
  --color-bg-600: 82 82 82;
  --color-bg-700: 64 64 64;
  --color-bg-800: 38 38 38;
  --color-bg-900: 23 23 23;
  --color-bg-950: 10 10 10;
}

.bg-stone {
  --color-bg-50: 250 250 249;
  --color-bg-100: 245 245 244;
  --color-bg-200: 231 229 228;
  --color-bg-300: 214 211 209;
  --color-bg-400: 168 162 158;
  --color-bg-500: 120 113 108;
  --color-bg-600: 87 83 78;
  --color-bg-700: 68 64 60;
  --color-bg-800: 41 37 36;
  --color-bg-900: 28 25 23;
  --color-bg-950: 12 10 9;
}

::global {
  --toastify-color-light: var(--color-custom-500);
}

.Toastify__progress-bar--default {
  background: var(--color-custom-500);
  opacity: 1 !important;
}

input:autofill {
  background: transparent; /* or any other */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: black;
  transition: background-color 5000s ease-in-out 0s;
  @apply caret-bg-800;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #ffffff;
}

.react-date-picker__wrapper {
  @apply border-none;
}

.react-date-picker__inputGroup {
  @apply p-0;
}

button[class^='react-calendar__navigation'] {
  @apply flex flex-center rounded-md hover:bg-bg-200 dark:hover:bg-bg-700/50 focus:bg-bg-200 dark:focus:bg-bg-700/50 disabled:text-bg-500 disabled:bg-transparent disabled:hover:bg-transparent disabled:dark:hover:bg-transparent;
}

.react-calendar__tile--now {
  @apply bg-custom-500 text-bg-50 dark:text-bg-800;
}

.flex-center {
  @apply items-center justify-center;
}

.rbc-off-range-bg {
  @apply bg-bg-200 dark:bg-bg-900;
}

.rbc-today {
  @apply bg-custom-500/20;
}

.rbc-now {
  @apply text-custom-500;
}

.rbc-month-view,
.rbc-day-bg,
.rbc-month-row,
.rbc-header {
  @apply dark:border-bg-700;
}

.rbc-date-cell {
  @apply text-lg text-left p-2;
}

.rbc-header {
  @apply p-2;
}

.rbc-show-more {
  @apply text-custom-500;
}

.rbc-show-more:hover {
  @apply text-custom-600;
}

.rbc-event {
  @apply !bg-bg-50 dark:!bg-bg-800 text-bg-800 dark:text-bg-50 shadow-sm;
}

.rbc-selected-cell {
  @apply !bg-bg-500/20;
}

.rbc-selected-cell.rbc-today {
  @apply !bg-custom-700/20;
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  @apply bg-bg-200 dark:bg-bg-900 border-bg-700 dark:border-bg-700;
}

.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td,
.rbc-agenda-view table.rbc-agenda-table,
.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  @apply border-bg-700 dark:border-bg-700;
}

.rbc-header {
  @apply !p-2;
}

.rbc-month-view {
  @apply overflow-y-auto;
}

.rbc-month-row {
  @apply min-h-[7rem];
}

input[type='range'].main {
  @apply appearance-none accent-custom-500 bg-gradient-to-r from-custom-500 to-custom-500 bg-no-repeat;
}

input[type='range'].secondary {
  @apply accent-bg-500 dark:accent-bg-100;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type='range']::-webkit-slider-thumb {
  @apply appearance-none w-0 h-0 border-none;
}

input[type='range']::-moz-range-thumb {
  @apply appearance-none w-0 h-0 border-none;
}

input[type='range']::-webkit-progress-value,
input[type='range']::-moz-range-progress {
  @apply rounded-full h-full;
}

input[type='range'].main::-webkit-progress-value,
input[type='range'].main::-moz-range-progress {
  @apply appearance-none !bg-custom-500 rounded-full h-full;
}

input[type='range'].secondary::-webkit-progress-value,
input[type='range'].secondary::-moz-range-progress {
  @apply appearance-none bg-bg-500 dark:bg-bg-100 rounded-full h-full;
}

.prose * {
  @apply select-text;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}

.wallet-donut-inner {
  @apply text-bg-500;
}

.react-grid-item.react-grid-placeholder {
  @apply !bg-custom-500;
}
