@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Urbanist', sans-serif;
  scrollbar-color: rgba(64, 64, 64, 0.5) rgba(38, 38, 38, 0.5);
  scrollbar-width: thin;
}

body {
  background-color: rgba(38, 38, 38, 1);
  color: rgba(255, 255, 255, 1);
}

body *:not(input) {
  @apply transition-all;
}

.stroke-\[2px\] > path {
  stroke-width: 2.5px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(38, 38, 38, 0.5);
}
::-webkit-scrollbar-thumb:vertical {
  background: rgba(64, 64, 64, 0.5);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(88, 88, 88, 0.5);
}

input:autofill {
  background: rgb(38 38 38); /* or any other */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(38, 38, 38) inset !important;
  -webkit-text-fill-color: rgba(250, 250, 250, 1) !important;
}

.loader {
  width: 36px;
  height: 36px;
  border: 4px solid rgb(115 115 115);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.w-color-editable-input {
  @apply !px-0;
}

.w-color-editable-input input {
  box-shadow: none !important;
  font-size: 1rem !important;
  color: rgb(244 244 245) !important;
  font-weight: 500 !important;
  letter-spacing: 0.1rem !important;
  @apply text-center !rounded-lg !py-2 focus:outline-none;
}

.w-color-editable-input span {
  font-size: 0.9rem !important;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
