.news-article {
  & figure {
    @apply my-6 flex flex-col items-center gap-3;
  }

  & img {
    @apply shadow-custom w-full rounded-xl md:max-w-1/2;
  }

  & p:has(img) {
    @apply mb-6 flex flex-col items-center;
  }

  & figcaption {
    @apply text-bg-500 text-center text-sm;
  }

  & p {
    @apply text-bg-600 dark:text-bg-300 my-4 leading-[2em];
  }

  & h5 {
    @apply text-2xl font-semibold;
  }
}
