# CLIENT

VITE_API_HOST=http://localhost:3636

# SERVER

MASTER_KEY=
JWT_SIGNING_KEY=
CORS_ALLOWED_ORIGINS=http://localhost:5173

PB_DIR=database/
PB_HOST=http://localhost:8090
PB_EMAIL=
PB_PASSWORD=

PORT=3636
